/*-------- 8. Footer style  -----*/

.copyright {
  .footer-logo {
    // margin-top: 41px;
    margin-bottom: 12px;
    @media #{$xs-layout} {
      margin-top: 0;
    }
    @media #{$md-layout} {
      margin-top: 0;
    }
    @media #{$lg-layout} {
      // margin-top: 28px;
    }
  }
  p {
    letter-spacing: 0.9px;

    color: #313131;
    a {
      color: #313131;
      &:hover {
        color: $theme-color;
      }
    }
  }
  &.copyright-white {
    p {
      color: #fff;
      a {
        color: #fff;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

.footer-widget {
  .footer-title {
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;

      // margin: 0 0 16px;

      color: #313131;
    }
  }
  .footer-list {
    ul {
      li {
        margin: 0 0 11px;
        &:last-child {
          margin: 0 0 0;
        }
        a {
          letter-spacing: 0.3px;

          color: #5d5d5d;
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }
  .subscribe-style {
    p {
      margin: 0 0 20px;

      color: #7a7a7a;
    }
    .subscribe-form {
      input {
        font-size: 13px;

        padding: 2px 10px 2px 0;

        color: #333;
        border: none;
        border-bottom: 2px solid #ebebeb;
        background: transparent;
      }
      .mc-news {
        display: none;
      }
      .clear {
        button {
          font-size: 14px;
          line-height: 1;

          width: auto;
          height: auto;
          margin: 13px 0 0;
          padding: 0 0 1px;

          text-transform: uppercase;

          color: #313131;
          border: none;
          border-bottom: 2px solid #9b9b9c;
          background: none;
          &:hover {
            color: $theme-color;
            border-bottom: 2px solid $theme-color;
          }
        }
      }
    }
    &.subscribe-style-white {
      p {
        color: #e6e6e6;
      }
      .subscribe-form {
        input {
          color: #a4a4a4;
          border-bottom: 2px solid #ebebeb;
        }
        .clear {
          input,
          button {
            color: #fff;
            border-bottom: 2px solid #b5b5b6;
            &:hover {
              color: $theme-color;
              border-bottom: 2px solid $theme-color;
            }
          }
        }
      }
    }
  }
  &.footer-widget-white {
    .footer-title {
      h3 {
        color: #fff;
      }
    }
    .footer-list {
      ul {
        li {
          a {
            color: #e6e6e6;
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }
}

/* home 4 */

// .hm4-footer-padding .container-fluid {
//   padding: 0 60px;
//   @media #{$xx-layout} {
//     padding: 0 60px;
//   }
//   @media #{$xl-layout} {
//     padding: 0 30px;
//   }
//   @media #{$lg-layout} {
//     padding: 0 15px;
//   }
//   @media #{$md-layout} {
//     padding: 0 30px;
//   }
//   @media #{$xs-layout} {
//     padding: 0 15px;
//   }
// }
